<?xml version="1.0" encoding="UTF-8"?>
<config>
    <inputDirectory></inputDirectory>
    <outputDirectory></outputDirectory>
    <ignoredDirectoryList>
        <directory></directory>
    </ignoredDirectoryList>
    <!-- maybe?
     <pathToProjectConfig></pathToProjectConfig>
     script's editor ID
     script's change log message
     -->
</config>
