<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!--This file will contain configuration data for the XQuery module at ../modules/mss.xqm 
    Included data:
    
    - data inputs (e.g. path to where files to be processed are)
    - data outputs (path to where files should be stored (if not using a writeback functionality)
    - ignored directory info?
    - base for URI (e.g. "https://syriaca.org/manuscript/"
    - editors.xml file and URI base of editors.xml file
    -->
</config>
