<?xml version="1.0" encoding="UTF-8"?>
<config>
    <inputDirectory>/data/3_drafts/JaretRushing</inputDirectory> <!-- include only the sub directory within the wright-catalogue repository -->
    <outputDirectory>/data/4_to_be_checked/postProcessingOutputs/</outputDirectory> <!-- include only the sub directory within the wright-catalogue repository -->
    <ignoredDirectoryList>
        <!-- Note to self: this is poorly named. The original idea was to have a list of directories where already-processed files are, so a script doesn't repeat itself or overwrite later made changes -->
        <directory>/data/4_to_be_checked/postProcessingOutputs/</directory>
        <directory>/data/4_to_be_checked/</directory>
        <directory>/data/4_to_be_checked/need-ms-parts/</directory>
        <directory>/data/5_finalized/</directory>
        <directory>/data/5_finalized/TransferredToDevServer/</directory>
        <directory>/data/4_to_be_checked/406-msParts/</directory>
        <directory>/data/4_to_be_checked/652-msParts/</directory>
        <directory>/data/4_to_be_checked/190-to-be-edited/</directory>
        <directory>/data/4_to_be_checked/852-ms-parts/</directory>
    </ignoredDirectoryList>
    <changeLogScriptId>srophe-util</changeLogScriptId>
    <changeLogMessage>CHANGED: Added project metadata; metadata from Wright Decoder; msItem, handDesc, and additions enumeration; Wright Taxonomy designation</changeLogMessage>
    <!-- maybe?
     <pathToProjectConfig></pathToProjectConfig>
     -->
    <!-- Points to a directory wherein are stored XML files representing an index of xml:id values that have changed within a record.
        These index files may be used to propagate changes to intra-project links created between records, msItems, etc. -->
    <pathToIndexOfIdsToUpdate>/resources/pending-id-updates/</pathToIndexOfIdsToUpdate>
</config>
